
.error-message{
    color:#FF0000;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    margin:0;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    left:0;
    top: 34px;
    display:none;
}

.error-message_user-registration{
  text-align: center;
  color:#FF0000;
  position: initial;
  margin:0;
  display: none;
  word-wrap:break-word;
}
.error-message_user-enter{
  text-align: center;
  color:#FF0000;
  position: initial;
  margin:0;
  display: none;
  word-wrap:break-word;
}

.error-message.error-message__visible{
    display:block;
}