.search__input{
  margin:auto 0px auto 24px;
  /*width:376px;*/
  width:calc(100% - 200px);
  height:22px;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border: none;
  color: #1A1B22;
  display: flex;
  align-items: center;
  outline: none;
}
.search__input:focus{
  border:1px solid rgb(187, 187, 187);
}



@media screen and (max-width:500px){
  .search__input{
  width: inherit;
    margin-right:24px;
}
}


.search__input::-ms-clear {  display: none; width : 0; height: 0; }
.search__input::-ms-reveal {  display: none; width : 0; height: 0; }
.search__input::-webkit-search-decoration,
.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-results-button,
.search__input::-webkit-search-results-decoration { display: none; }


.search__input::placeholder {
  color:#B6BCBF;
}
