
.popup__button {
  width: 100%;
    height: 64px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 100px;
    margin-top: 8px;
    background: #E6E8EB;
    color: #B6BCBF;
    font-size: 18px;
    line-height: 22px;
    border: none;
}

.popup__button:hover{
  cursor: pointer;
}


.popup__button.popup__button-is-active {
  background: #2F71E5;
  color: white;
}

.popup__button.popup__button-is-active:active {
  background-color:#2A65CC;
}

.popup__button.popup__button-is-active:hover {
  background-color:#347EFF;
}

.popup__button.popup__button-is-active:focus{
  border:2px solid rgb(13, 1, 184);
}
