.popup__link-container{
  display:flex;
  flex-direction:row;

  margin:16px auto 0px;
  width: fit-content;

font-family: Inter, Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

}

.popup__link-container_success{
  margin-left:0px;
}