@import url(./_delete/card__tooltip_delete.css);
@import url(./__tooltip_save/card__tooltip_save.css);

.card__tooltip{
margin:0;
position: absolute;
right:50px;
top:0px;
padding-left:10px;
padding-right: 10px;
height:40px;
background-color: white;
border-radius:10px;
font-family: Roboto, Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 500;

display: flex;
justify-content: center;
align-items: center;
color: #000000;
}
.card__tooltip_disable{
  display:none;
}

@media screen and (max-width:900px) {
  .card__tooltip{
    display:none;
  }

  .card__tooltip_delete{
    display:none;
  }
}