@media screen and (max-width:668px){
  .header__menu_authorized.header__menu_is-opened{
    display:none;
  }
}

@media screen and (min-width:669px){
  .header__menu_authorized.header__menu_is-opened{
    display:flex;
  }
}


@media screen and (max-width:668px){
  .header__menu_not-authorized.header__menu_is-opened{
    display:none;
  }
}

@media screen and (min-width:669px){
  .header__menu_not-authorized.header__menu_is-opened{
    display:flex;
  }
}


@media screen and (max-width:668px){
  .header__menu_mobile.header__menu_is-opened{
    display:flex;
  }
}

@media screen and (min-width:669px){
  .header__menu_mobile.header__menu_is-opened{
    display:none;
  }
}