.popup__close {
  width: 40px;
  height:40px;
  position: absolute;
  top: -44px;
  right: -44px;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../../../images/close.svg);
  background-position: center;
  background-size: contain;
  border: none;

}

@media screen and (max-width:540px) {
  .popup__close {
    width: 24px;
    height: 24px;
    top: -38px;
    right: 20px;

  }
}