@import url(./_menu/header__title_menu.css);

.header__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  align-self: center;
  margin-left:104px;
}




@media screen and (min-width:670px) and (max-width:1000px) {
  .header__title{
    margin-left:40px;
  }
}

@media screen and (max-width:669px) {
  .header__title{
    margin-left:16px;
    font-size: 16px;
    line-height: 24px;
  }
}