.header__menu-button{
  background-color: transparent;
  background-image: url(../../../images/menu-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  width:40px;
  height:40px;
  border:none;
  display:none;
  z-index: 1;
}

.header__menu-button:active{
  box-shadow: 0 0 5px;
}

@media screen and (max-width:668px) {
  .header__menu-button{
  display:block;

  }
}