
@import url(./__container/__container.css);
@import url(./__title/__title.css);
@import url(./__subtitle/__subtitle.css);
@import url(./__bar/__bar.css);
@import url(./__input/__input.css);
@import url(./__button/__button.css);


.search {
background-image: url(../../images/search.jpg);
background-size:cover;
background-position: center;
height: 576px;
}

@media screen and (max-width:768px) {
  .search{
    height: 400px;
}
}

@media screen and (max-width:500px) {
  .search{
    height: 536px;
}
}
