@import url(./__copyright/__copyright.css);
@import url(./__list/footer__list.css);
@import url(./__image/footer__image.css);
@import url(./__links/__links.css);
@import url(./__menu/__menu.css);
@import url(./__page/footer__page.css);
@import url(./__social/__social.css);
@import url(./__icon/footer__icon.css);

.footer{
background-color: white;
display: flex;
flex-direction: row;
justify-content: space-between;
padding:30px 104px 30px 104px;
}

@media screen and (min-width:701px) and (max-width:1000px) {
  .footer{
    padding:30px 40px 30px 40px;
  }
}

@media screen and (max-width:700px) {
  .footer{
    flex-direction:column-reverse;
    justify-content: end;
    padding:30px 40px 30px 40px;

  }
}

@media screen and (max-width:500px) {
  .footer{
    padding:20px 16px 30px 16px;

  }
}