@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/header/header.css);
@import url(../blocks/search/search.css);
@import url(../blocks/button/button.css);
@import url(../blocks/preloader/preloader.css);
@import url(../blocks/no-results/no-results.css);
@import url(../blocks/results/results.css);
@import url(../blocks/cardlist/carslist.css);
@import url(../blocks/card/card.css);
@import url(../blocks/about-author/about-author.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/popup/popup.css);


.page-wrapper {
  width: 100%;
  background: rgb(190, 190, 190);
}

.page {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  font-family: 'Roboto','Roboto Slab','Source Sans Pro', Arial, Helvetica, sans-serif;
}

.page__link {
  text-decoration: none;
  display: flex;
  height: fit-content;
  align-items: center;
}

.page__link:hover {
  cursor: pointer;
}