.header__menu {
  display:none;
  flex-direction: row;
  align-items: center;
  margin-right: 104px;
}

@media screen and (min-width:669px) and (max-width:1000px) {
  .header__menu{
    margin-right:40px;
  }
}

@media screen and (max-width:668px) {
  .header__menu{
    display:none
  }
}


