.header__page-name_menu{
  margin:0;
  margin-left:16px;
  color:white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 56px;
  width: fit-content;
  
  }