@import url(./__text_5-lines/card__text_5-lines.css);
@import url(./__text_4-lines/card__text_4-lines.css);
@import url(./__text_2-lines/card__text_2-lines.css);

.card__text{
margin:0;
margin-top:12px;
font-family: Roboto, Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #1A1B22;

display: -webkit-box;
-webkit-box-orient: vertical;

overflow: hidden;
word-wrap: break-word;
-webkit-line-clamp: 4;

}

@media screen and (min-width:760px) and (max-width:100px) {
  .card__text{
    display: -webkit-box;
    margin-top:10px;
  }
}
/*
@media screen and (max-width:499px) {
  .card__text_2-lines{
    -webkit-line-clamp: 2;
  }
}


*/
@media screen and (max-width:499px) {
  .card__text{
    -webkit-line-clamp: 2;
  }
}