.resume__title{
margin:0;

font-family: Roboto, Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: rgba(26, 27, 34, 0.5);
}


@media screen and (min-width:670px) and (max-width:1000px) {
  .resume__title{
    font-size: 14px;
  }
}

@media screen and (max-width:669px) {
  .resume__title{
    font-size: 12px;

  }
}