.footer__social{
  list-style: none;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  margin: 0;
  margin-left:60px;
  padding: 0;
}

@media screen and (max-width:1000px) {
  .footer__social{
    margin-left:27px;
  }
}

@media screen and (max-width:700px){
  .footer__social{
    margin-left:auto;
  }

}