.card__source{
margin:0;
position: absolute;
bottom:24px;
left: 24px;

font-family: Roboto Slab, Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.4px;
text-transform: uppercase;
color: #B6BCBF;


}




@media screen and (min-width:760px) and (max-width:820px) {
  .card__source{
position:initial;
margin-left:16px;

  }
}

@media screen and (min-width:300px) and (max-width:759px) {
  .card__source{
left:16px;
bottom:16px;
  }
}