.popup__link{
  margin:0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #2F71E5;
  text-decoration: none;
}

.popup__link:hover{
  cursor:pointer;
}

.popup__link_success{
  font-size: 18px;
  line-height: 22px;
}